/* .container-fluid{
    background-image: linear-gradient(to bottom right, red, yellow);
} */
h1{
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-shadow: 4px 4px grey;
}
hr{
  width: 60%;

}
img{
  width: 200px;
  height: 200px;
  opacity: 0.5;
  margin-top: -3                                                                                                  em;
  margin-right: 70%;
}
